In [3]:
#1. Start a connection to Spark

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('Exercise').getOrCreate()

In [6]:
#2. Read Dataset

In [7]:
data = spark.read.csv('/user/akshayawasthy5/walmart_data.csv', header = True, inferSchema = True)

In [8]:
#3. List all Columns

In [9]:
data.columns

['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close']

In [10]:
#4. Schema

In [11]:
data.printSchema()

root
 |-- Date: timestamp (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

In [12]:
#5. First 5 Rows

In [13]:
data.head(5)

[Row(Date=datetime.datetime(2012, 1, 3, 0, 0), Open=59.970001, High=61.060001, Low=59.869999, Close=60.330002, Volume=12668800, Adj Close=52.619234999999996),
 Row(Date=datetime.datetime(2012, 1, 4, 0, 0), Open=60.209998999999996, High=60.349998, Low=59.470001, Close=59.709998999999996, Volume=9593300, Adj Close=52.078475),
 Row(Date=datetime.datetime(2012, 1, 5, 0, 0), Open=59.349998, High=59.619999, Low=58.369999, Close=59.419998, Volume=12768200, Adj Close=51.825539),
 Row(Date=datetime.datetime(2012, 1, 6, 0, 0), Open=59.419998, High=59.450001, Low=58.869999, Close=59.0, Volume=8069400, Adj Close=51.45922),
 Row(Date=datetime.datetime(2012, 1, 9, 0, 0), Open=59.029999, High=59.549999, Low=58.919998, Close=59.18, Volume=6679300, Adj Close=51.616215000000004)]

In [14]:
#6. First 5 Columns

In [15]:
data.select('Date', 'Open', 'High', 'Low', 'Close').show()

+-------------------+------------------+------------------+------------------+------------------+
|               Date|              Open|              High|               Low|             Close|
+-------------------+------------------+------------------+------------------+------------------+
|2012-01-03 00:00:00|         59.970001|         61.060001|         59.869999|         60.330002|
|2012-01-04 00:00:00|60.209998999999996|         60.349998|         59.470001|59.709998999999996|
|2012-01-05 00:00:00|         59.349998|         59.619999|         58.369999|         59.419998|
|2012-01-06 00:00:00|         59.419998|         59.450001|         58.869999|              59.0|
|2012-01-09 00:00:00|         59.029999|         59.549999|         58.919998|             59.18|
|2012-01-10 00:00:00|             59.43|59.709998999999996|             58.98|59.040001000000004|
|2012-01-11 00:00:00|         59.060001|         59.529999|59.040001000000004|         59.400002|
|2012-01-12 00:00:00|59.790001000000004|              60.0|         59.400002|              59.5|
|2012-01-13 00:00:00|             59.18|59.610001000000004|59.009997999999996|59.540001000000004|
|2012-01-17 00:00:00|         59.869999|60.110001000000004|             59.52|         59.849998|
|2012-01-18 00:00:00|59.790001000000004|         60.029999|         59.650002|60.009997999999996|
|2012-01-19 00:00:00|             59.93|             60.73|             59.75|60.610001000000004|
|2012-01-20 00:00:00|             60.75|             61.25|         60.669998|61.009997999999996|
|2012-01-23 00:00:00|         60.810001|             60.98|60.509997999999996|             60.91|
|2012-01-24 00:00:00|             60.75|              62.0|             60.75|61.389998999999996|
|2012-01-25 00:00:00|             61.18|61.610001000000004|61.040001000000004|         61.470001|
|2012-01-26 00:00:00|         61.799999|             61.84|             60.77|         60.970001|
|2012-01-27 00:00:00|60.860001000000004|         61.119999|60.540001000000004|60.709998999999996|
|2012-01-30 00:00:00|         60.470001|             61.32|         60.349998|         61.299999|
|2012-01-31 00:00:00|         61.529999|             61.57|         60.580002|61.360001000000004|
+-------------------+------------------+------------------+------------------+------------------+
only showing top 20 rows

In [16]:
#7. Know your Dataset

In [17]:
data.describe().show()

+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|summary|              Open|             High|              Low|            Close|           Volume|        Adj Close|
+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|  count|              1258|             1258|             1258|             1258|             1258|             1258|
|   mean| 72.35785375357709|72.83938807631165| 71.9186009594594|72.38844998012726|8222093.481717011|67.23883848728146|
| stddev|  6.76809024470826|6.768186808159218|6.744075756255496|6.756859163732991|  4519780.8431556|6.722609449996857|
|    min|56.389998999999996|        57.060001|        56.299999|        56.419998|          2094900|        50.363689|
|    max|         90.800003|        90.970001|            89.25|        90.470001|         80898100|84.91421600000001|
+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+

In [18]:
#8. Format to Int in SQL

In [19]:
from pyspark.sql.functions import format_number, dayofmonth, dayofyear, month, avg

In [20]:
a = data.describe()

In [21]:
a.columns

['summary', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close']

In [22]:
a.select(format_number(a.Open.cast("int"),2)).show()

+-----------------------------------+
|format_number(CAST(Open AS INT), 2)|
+-----------------------------------+
|                           1,258.00|
|                              72.00|
|                               6.00|
|                              56.00|
|                              90.00|
+-----------------------------------+

In [23]:
#9. High to Volume Ratio

In [24]:
data.select(dayofyear('Date'),format_number('High',2).alias('High'),'Volume',(format_number((data.High.cast("int")),2)
/(data.Volume.cast("int"))).alias('HV_Ratio')).show()

+---------------+-----+--------+--------------------+
|dayofyear(Date)| High|  Volume|            HV_Ratio|
+---------------+-----+--------+--------------------+
|              3|61.06|12668800|4.814978529931801E-6|
|              4|60.35| 9593300|6.254365025590777E-6|
|              5|59.62|12768200|4.620854936482824E-6|
|              6|59.45| 8069400|7.311572111929016E-6|
|              9|59.55| 6679300|8.833260970460977E-6|
|             10|59.71| 6907300|  8.5416877795955E-6|
|             11|59.53| 6365600|9.268568555988438E-6|
|             12|60.00| 7236400| 8.29141562102703E-6|
|             13|59.61| 7729300| 7.63329150117087E-6|
|             17|60.11| 8500000|7.058823529411765E-6|
|             18|60.03| 5911400|1.014987989308793...|
|             19|60.73| 9234600|6.497303618998115...|
|             20|61.25|10378800|5.877365398697344E-6|
|             23|60.98| 7134100|8.410311041336678E-6|
|             24|62.00| 7362800|8.420709512685392E-6|
|             25|61.61| 5915800|1.031136955272321...|
|             26|61.84| 7436200| 8.20311449396197E-6|
|             27|61.12| 6287300|9.702097879853038E-6|
|             30|61.32| 7636900|7.987534208906755E-6|
|             31|61.57| 9761500|6.249039594324642E-6|
+---------------+-----+--------+--------------------+
only showing top 20 rows

In [25]:
#10. Average Volume Across Months

In [26]:
b = data.groupBy(month('Date').alias('month')).avg()
b_out = b.orderBy('month').select('month','avg(Volume)').show()

+-----+-----------------+
|month|      avg(Volume)|
+-----+-----------------+
|    1|8761851.485148516|
|    2|9764147.422680411|
|    3|7721836.448598131|
|    4|7956230.476190476|
|    5|8632350.943396226|
|    6|8303756.603773585|
|    7|6841084.112149533|
|    8|7745198.181818182|
|    9|7194450.980392157|
|   10|9008785.454545455|
|   11|8921626.732673267|
|   12|7967959.433962264|
+-----+-----------------+

In [ ]:
#11. %entries > than high = 80

In [27]:
length = data.groupBy().count().collect()
High_data = data.filter(data['High']>80).select('Date', 'High')
High_Count = High_data.groupBy().count().collect()
(High_Count[0][0]/length[0][0])*100